<div class="projects-container">
    <div class="projects-list">
        <div class="project-card">
            <h1>Personal Projects</h1>
            <div class="project-info">
                <h2>Artists & their albums API</h2>
                <div class="project-description">
                    <p>
                        This project was created to build a detailed collection of artists, focusing on their discography. I designed and implemented a RESTful API that provides easy access to this information. Users can query full artist profiles, explore their discographies,
                        and retrieve insights into their career milestones. By offering a structured and accessible database, this project aims to be a valuable resource for fans, researchers, and anyone interested in the music industry.
                    </p>
                    <div class="image-container">
                        <img class="project-image" src="../../assets/Artistsapi.png" alt="API Artists">
                    </div>
                </div>
                <div class="gitLink">
                    <a href="https://github.com/enriqueruelasgarcia/APIArtists">GitHub Repository</a>
                </div>
            </div>
        </div>

        <div class="project-card">
            <div class="project-info">
                <h2>Weather Station</h2>
                <div class="project-description">
                    <p>
                        This project is an SPA that displays records from a database storing weather information. The data was collected using temperature and humidity sensors, programmed in Arduino code (C++). Additionally, the project includes a machine learning model that
                        predicts the current weather based on the records from the Supabase database. The goal was to combine hardware and software to present accurate weather predictions in a user-friendly interface.
                    </p>
                    <div class="image-container">
                        <img class="project-image" src="../../assets/ws.png" alt="Weather Station">
                    </div>
                </div>
                <div class="gitLink">
                    <a href="https://github.com/enriqueruelasgarcia/WS_TELEMATICA">GitHub Repository</a>
                </div>
            </div>
        </div>

        <div class="project-card portfolio-card">
            <div class="project-info">
                <h2>Personal Portfolio</h2>
                <div class="project-description">
                    <p>
                        I can also include this personal portfolio as a project. It serves as a space where you can learn about my professional career, albeit relatively short. Sections such as skills, certifications, and more are among the elements I wanted to showcase.
                    </p>
                    <div class="image-container">
                        <img class="project-image" src="../../assets/personal_portfolio.png" alt="Personal Portfolio">
                    </div>
                </div>
                <div class="gitLink">
                    <a href="">GitHub Repository</a>
                </div>
            </div>
        </div>

        <div class="project-card portfolio-card">
            <div class="project-info">
                <h2>Predicting Apartment Price with Machine Learning Models</h2>
                <div class="project-description">
                    <p>
                        This project focuses on predicting apartment prices using the "inmuebles.json" dataset. It involves preprocessing the data, applying logarithmic transformations, and encoding categorical variables. Three models—linear regression, decision trees, and random
                        forests—are trained and evaluated based on their R^2 scores. Cross-validation and random search are used to enhance model performance and optimize hyperparameters. The aim is to determine the most accurate model for predicting
                        apartment prices. </p>
                    <div class="image-container">
                        <img class="project-image" src="../../assets/ML.png" alt="Personal Portfolio">
                    </div>
                </div>
                <div class="gitLink">
                    <a href="https://github.com/enriqueruelasgarcia/MLmodels_Apartment_Price">GitHub Repository</a>
                </div>
            </div>
        </div>

        <div class="project-card portfolio-card">
            <div class="project-info">
                <h2>Temperature Converter</h2>
                <div class="project-description">
                    <p>I created a temperature converter, as its name says it converts any number from a certain unit to another unit. It contains three units (Celsius, Farenheit and Kelvin)</p>
                    <div class="image-container">
                        <img class="project-image" src="../../assets/temperature_converter.png" alt="Temperature Converter">
                    </div>
                </div>
                <div class="gitLink">
                    <a href="https://github.com/enriqueruelasgarcia/temperature_converter">GitHub Repository</a>
                </div>
            </div>
        </div>

        <div class="project-card portfolio-card">
            <div class="project-info">
                <h2>Applying Filters</h2>
                <div class="project-description">
                    <p>I have developed a web application that allows users to upload images and apply custom filters to them. The application is built using React JS as the frontend framework for an interactive and dynamic user experience. In the backend,
                        Node JS is used as the runtime environment to handle server logic and manage user requests.</p>
                    <div class="image-container">
                        <img class="project-image" src="../../assets/api_img_filters.png" alt="Applying">
                    </div>
                </div>
                <div class="gitLink">
                    <a href="https://github.com/enriqueruelasgarcia/image_filters">GitHub Repository</a>
                </div>
            </div>
        </div>

        <div class="project-card">
            <h1>Free Code Camp Projects</h1>
            <div class="project-info">
                <h2>Pokemon API Requests</h2>
                <div class="project-description">
                    <p>
                        This project was relatively simple and short, but it was also very enjoyable. Back in my third semester in college, I used to do similar projects quite often. It’s all about fetching data from a public API and using it to create something interactive
                        or visually appealing. In this case, I decided to generate a Pokémon card, pulling data directly from the API. For this example, I chose Pikachu, but the card can display any Pokémon, showcasing an effective API integration and
                        design skills.
                    </p>
                    <div class="image-container">
                        <img class="project-image" src="../../assets/pokemon_api.png" alt="Pokemon API">
                    </div>
                </div>
                <div class="gitLink">
                    <a href="https://github.com/enriqueruelasgarcia/Api_Pokemon_Request">GitHub Repository</a>
                </div>
            </div>
        </div>

        <div class="project-card">
            <div class="project-info">
                <h2>Exercise Tracker</h2>
                <div class="project-description">
                    <p>
                        This project is an exercise tracker API built with Express and MongoDB. It allows users to create profiles, log exercises, and view a detailed exercise history. The API includes routes to create new users, add exercises to a user's profile, and fetch
                        exercise logs with options to filter by date and limit the number of results. The project also features data validation and error handling, ensuring smooth interaction with the database.
                    </p>
                    <div class="image-container">
                        <img class="project-image" src="../../assets/exercise_tracker.png" alt="Exercise Tracker">
                    </div>
                </div>
                <div class="gitLink">
                    <a href="https://github.com/enriqueruelasgarcia/Users_mongo">GitHub Repository</a>
                </div>
            </div>
        </div>

        <div class="project-card">
            <div class="project-info">
                <h2>File Metadata Microservice</h2>
                <div class="project-description">
                    <p>
                        This project is a file metadata microservice built with Express, Multer, and CORS. It allows users to upload a file through a form, analyzes the file, and returns its metadata, such as the file name, type, and size. Multer is used for handling file uploads,
                        with a file size limit of 10MB. The service exposes an API endpoint (/api/fileanalyse) to upload a file and receive the file metadata in a JSON response.
                    </p>
                    <div class="image-container">
                        <img class="project-image" src="../../assets/file_metadata.png" alt="File Metadata Microservice">
                    </div>
                </div>
                <div class="gitLink">
                    <a href="https://github.com/enriqueruelasgarcia/FileUploader">GitHub Repository</a>
                </div>
            </div>
        </div>

        <div class="project-card">
            <div class="project-info">
                <h2>TimeStamp Microservice</h2>
                <div class="project-description">
                    <p>
                        This project is a web application built with Express that provides a date converter API. It includes a homepage that serves a static HTML file. The API endpoint /api/:date? allows users to get the current date or convert a given date or Unix timestamp
                        into both Unix and UTC formats. If the input is invalid, it returns an error message. The app uses cors to handle cross-origin requests and serves static files from the public directory.
                    </p>
                    <div class="image-container">
                        <img class="project-image" src="../../assets/timestamp.png" alt="TimeStamp Microservice">
                    </div>
                </div>
                <div class="gitLink">
                    <a href="https://github.com/enriqueruelasgarcia/Timestamp_Microservice">GitHub Repository</a>
                </div>
            </div>
        </div>

        <div class="project-card">
            <div class="project-info">
                <h2>Who Am I</h2>
                <div class="project-description">
                    <p>
                        This project is a web application built with Express that serves an endpoint to return user-specific information. The app includes a static homepage served from the public directory. The /api/whoami endpoint provides details about the user's request headers,
                        including their IP address, preferred language, and platform software. It uses cors to handle cross-origin requests and dotenv for environment variable management.
                    </p>
                    <div class="image-container">
                        <img class="project-image" src="../../assets/whoAmI.png" alt="Who Am I">
                    </div>
                </div>
                <div class="gitLink">
                    <a href="https://github.com/enriqueruelasgarcia/WhoAmI">GitHub Repository</a>
                </div>
            </div>
        </div>

        <div class="project-card">
            <div class="project-info">
                <h2>Url Shortener</h2>
                <div class="project-description">
                    <p>
                        This project is a URL shortener service. It provides two main functionalities: shortening URLs and redirecting short URLs to their original addresses. Users can submit a URL via a POST request to the /api/shorturl endpoint, and if the URL is valid, the
                        service will generate a short URL identifier and return it along with the original URL. Users can then access the original URL by sending a GET request to /api/shorturl/:shorturl with the short URL identifier, which will redirect
                        them to the original URL. The project uses Express for the server and maintains a list of URLs and their corresponding short identifiers in memory.
                    </p>
                    <div class="image-container">
                        <img class="project-image" src="../../assets/url_shortener.png" alt="Url Shortener">
                    </div>
                </div>
                <div class="gitLink">
                    <a href="https://github.com/enriqueruelasgarcia/ShortUrl">GitHub Repository</a>
                </div>
            </div>
        </div>
        <div class="project-card">
            <div class="project-info">
                <h2>Roman Numeral Converter</h2>
                <div class="project-description">
                    <p>
                        This project is a web application that converts decimal numbers into Roman numerals. Users can enter a number in a text field, and by clicking a button, the number is converted to its Roman numeral representation. The application validates that the entered
                        number is within the allowed range (from 1 to 3999) and displays error messages if the number is invalid or out of range. The conversion is handled by a function that uses a table of equivalences between decimal values and their
                        corresponding Roman numeral symbols.
                    </p>
                    <div class="image-container">
                        <img class="project-image" src="../../assets/ramonnumber.png" alt="Roman Numeral Converter">
                    </div>
                </div>
                <div class="gitLink">
                    <a href="https://github.com/enriqueruelasgarcia/roman_number_converter">GitHub Repository</a>
                </div>
            </div>
        </div>

        <div class="project-card">
            <div class="project-info">
                <h2>JS Calculator</h2>
                <div class="project-description">
                    <p>
                        This is a simple calculator built with HTML, CSS, and JavaScript. The Bootstrap framework is used for styling and responsive design. HTML provides the structure, CSS handles the visual appearance, and JavaScript manages the calculation logic and user
                        interaction.
                    </p>
                    <div class="image-container">
                        <img class="project-image" src="../../assets/js_calculator.png" alt="JS Calculator">
                    </div>
                </div>
                <div class="gitLink">
                    <a href="">GitHub Repository</a>
                </div>
            </div>
        </div>

    </div>
</div>