<nav>
    <ul class="nav-links">
        <li>
            <a class="button" href="/">
                <i class="fa fa-home icon"></i>
                <span class="text">Home</span>
            </a>
        </li>
        <li>
            <a class="button" href="/projects">
                <i class="fa fa-briefcase icon"></i>
                <span class="text">Projects</span>
            </a>
        </li>
        <li>
            <a class="button" href="/skills">
                <i class="fa fa-star icon"></i>
                <span class="text">Skills</span>
            </a>
        </li>
        <li>
            <a class="button" href="/certifications">
                <i class="fa fa-certificate icon"></i>
                <span class="text">Certifications</span>
            </a>
        </li>
        <li>
            <a class="button" href="/about">
                <i class="fa fa-user icon"></i>
                <span class="text">About</span>
            </a>
        </li>
    </ul>
</nav>
<h2 style="color:white;margin-top:-38px;margin-left:90px">{{title}}</h2>
<div class="router-animation">
    <router-outlet></router-outlet>
</div>