<div class="presentation-container">
    <div class="photo">
        <img src="../../assets/me.jpg" alt="Ruelas" />
    </div>
    <div class="bio">
        <h1>Hello, I'm Enrique Ruelas</h1>
        <h2>Internet Technologies Engineer</h2>
        <p>Web Developer</p>
        <div class="social-media">
            <a href="https://www.facebook.com/enrique.ruelasgarcia.3" target="_blank" title="Ruelas LE">
                <i class="fab fa-facebook-f"></i>
            </a>
            <a href="https://www.instagram.com/notm.e5285/" target="_blank" title="notm.e5285">
                <i class="fab fa-instagram"></i>
            </a>
            <a href="https://www.linkedin.com/in/luis-enrique-ruelas-garcia-003395275/?locale=en_US" target="_blank" title="Luis Enrique Ruelas Garcia">
                <i class="fab fa-linkedin-in"></i>
            </a>
            <a href="https://github.com/enriqueruelasgarcia" target="_blank" title="enriqueruelasgarcia">
                <i class="fab fa-github"></i>
            </a>
            <a href="mailto:ruelasgenrique@gmail.com" target="_blank" title="Gmail">
                <i class="fas fa-envelope"></i>
            </a>
        </div>
    </div>
</div>